.page-kube {
	width:85%;
	margin-left:7.5%;
	margin-right:auto;
}

.page-kube a {
	text-decoration:none;
}

.page-kube th {
	text-align:center;
}

.page-kube td {
	text-align:center;
}

#top-brand a {
	color:black;
	font-weight:bold;
}
