  <footer id="footer">
    <nav>
      <ul>
        <li>
	  <a href="{{.Site.Params.babsite}}">Blockchain at Berkeley</a>
	</li>
        <li>
          <a href="{{.Site.Params.slack}}">Slack</a>
        </li>
        <li>
          <a href="{{.Site.Params.youtube}}">Youtube</a>
        </li>
          <li>
          <a href="{{.Site.Params.facebook}}">Facebook</a>
        </li>
        <li>
          <a href="{{.Site.Params.twitter}}">Twitter</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>
